<% if @users_count > 0 %>
    <%= @users_count %> users found
    <table border="1" cellpadding="5">
        <tr>
            <th><%= order_by_link :id %></th>
            <th><%= order_by_link :user_group => :name %></th>
            <th><%= order_by_link :first_name %></th>
            <th><%= order_by_link :last_name %></th>
            <th><%= order_by_link [:email, :first_name] %></th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.user_group ? user.user_group.name : "-" %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
            </tr>
        <% end %>
    </table>
    
    <br />
    <br />
    
    Per page: <%= per_page_select %>

    <% if @search.page_count > 1 %>
        <br />
        Page: <%= page_select %>
    <% end %>
<% else %>
    No users were returned
<% end %>