<!--
 Instead of passing :remote => true everywhere you can set up your config to do this automatically.
 
 # config/initializers/searchgasm.rb
 Searchgasm.configure do |config|
   config.remote_helpers = true
 end
 
 For more information on the configuration please see Searchgasm::Config
-->

<% if @orders_count > 0 %>
    <%= @orders_count %> orders found
    <table border="1" cellpadding="5">
        <tr>
            <th><%= order_by :id, :remote => true %></th>
            <th><%= order_by({:user => {:user_group => :name}}, :remote => true) %></th>
            <th><%= order_by({:user => :first_name}, :remote => true) %></th>
            <th><%= order_by :total, :remote => true %></th>
            <th><%= order_by :description, :remote => true %></th>
        </tr>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= order.user && order.user.user_group ? order.user.user_group.name : "-" %></td>
                <td><%= order.user ? order.user.first_name : "-" %></td>
                <td><%= number_to_currency(order.total) %></td>
                <td><%= order.description %></td>
            </tr>
        <% end %>
    </table>

    <br />
    <br />
    Per page: <%= per_page(:remote => true) %>

    <% if @search.page_count > 1 %>
        <br />
        Page: <%= pages(:remote => true) %>
    <% end %>
<% else %>
    No orders were returned
<% end %>