<html>
<head>
    <title>Searchgasm Example</title>
    <% if controller.controller_path == "jquery/users" %>
      <%= javascript_include_tag "jquery.min", "jquery.livequery", "jquery.form", "jquery_setup" %>
    <% else %>
      <%= javascript_include_tag "prototype" %>
    <% end %>
    <%= stylesheet_link_tag "application" %>
</head>
<body>
    <h1 style="font-size: 1.5em">Searchgasm example</h1>
    This is a simple / plain example of how to implement searching, ordering, and pagination using Searchgasm into a rails application. Here are some helpful links:<br />
    <br />
    <%= link_to "source code for this example", "http://github.com/binarylogic/searchgasm_example" %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "tutorial on this example", "http://www.binarylogic.com/2008/9/7/tutorial-pagination-ordering-and-searching-with-searchgasm" %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "searchgasm repository", "http://github.com/binarylogic/searchgasm" %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "searchgasm docs", "http://searchgasm.rubyforge.org" %>
    <br />
    <br />
    <strong>
    <%= link_to "Non AJAX example", non_ajax_users_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "Rails AJAX helpers example", rails_ajax_users_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "Unobtrusive jQuery example", jquery_users_path %>
    </strong>
    <br />
    <%= yield %>
</body>
</html>